<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :email, class: 'right inline' %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.email_field :email, autofocus: true, class: 'eight' %>
    </div>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div class="row">
    <div class="two mobile-one columns">
    </div>
    <div class="ten mobile-three columns">
      Currently waiting confirmation for:<br />
      <strong><%= resource.unconfirmed_email %></strong>
    </div>
    </div>
  <% end %>

  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :password, class: 'right inline' %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.password_field :password, autocomplete: "off", class: 'eight' %>
      <em>(leave blank if you don't want to change it)</em>
    </div>
  </div>

  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :password_confirmation, class: 'right inline', style: 'line-height: 1.3em;' %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.password_field :password_confirmation, class: 'eight' %>
    </div>
  </div>

  <div class="row">
    <div class="two mobile-one columns">
      <%= f.label :current_password, class: 'right inline', style: 'line-height: 1.3em;' %>
    </div>
    <div class="ten mobile-three columns">
      <%= f.password_field :current_password, class: 'eight' %>
      <em>(we need your current password to confirm your changes)</em>
    </div>
  </div>

  <div class="row">
    <div class="two mobile-one columns"></div>
    <div class="ten mobile-three columns">
      <%= f.submit "Update", class: 'radius button' %>
    </div>
  </div>
<% end %>

<h3>Cancel my account</h3>

<form><div class="row">
  <div class="two mobile-one columns">
    <div class="right inline">Unhappy?</div>
  </div>
  <div class="ten mobile-three columns">
    <%= button_to "Cancel my account", registration_path(resource_name), :data => { :confirm => "Are you sure?" }, :method => :delete, class: 'radius alert button' %>
  </div>
</div></form>

<%= link_to "Back", :back, class: 'radius secondary button', style: 'margin-top:20px;' %>
