<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "tomgang" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="fixed contain-to-grid">
    <nav class="top-bar">
      <ul>
        <li class="name"><h1><a href="/"><small>www.</small>tomgang<small>.mn</small></a></h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      <section>
        <ul class="left">
          <li><a href="#">Link</a></li>
        </ul>

        <ul class="right">
          <li><a href="#">Link</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="row main">
    <% if flash[:notice] %>
      <div class="alert-box">
        <%= flash[:notice] %>
        <a href="" class="close">&times;</a>
      </div> 
    <% end %> 
    <% if flash[:alert] %>
      <div class="alert-box alert">
        <%= flash[:alert] %>
        <a href="" class="close">&times;</a>
      </div> 
    <% end %>

    <div class="four columns">
      <% if user_signed_in? %>

        <div class="row">
          <div class="three columns">
            <%= image_tag(current_user.gravatar_url) %>
          </div>
          <div class="nine columns">
            <h3><%= link_to current_user.name, current_user %></h3>
          </div>
          <div class="clear"></div>
        </div>
        <div class="row">
          <div class="twelve columns user-links">
            <%= link_to 'Edit profile', edit_user_registration_path %>
            &middot;
            <%= link_to "Logout", destroy_user_session_path, method: :delete %>
          </div>
        </div>
        <hr />

        <div id="user_level_progress" data-last-level-up="<%= current_user.last_level_up.to_i %>" data-next-level-up="<%= current_user.next_level_up.to_i %>" class="radius progress success"><span class="meter" style="width: <%= @level_percent %>%"></span></div>
        <p><strong>Level <%= current_user.level %></strong> | <span id="level_progress_secs_remaining"><%= @current_secs %></span> seconds remaining</p>
        <hr />

        <div class="row">
          <div class="two columns">
            <p><strong>Health</strong></p>
          </div>
          <div class="ten columns">
            <div id="user_hp_progress" data-current-hp="<%= current_user.current_hp %>" data-max-hp="<%= current_user.max_hp %>" class="radius progress alert"><span class="meter" style="width: <%= @hp_percent %>%"></span><div class="progress-data"><%= current_user.current_hp %> / <%= current_user.max_hp %></div></div>
          </div>
        </div>

        <div class="row">
          <div class="two columns">
            <p><strong>Mana</strong></p>
          </div>
          <div class="ten columns">
            <div id="user_mana_progress" data-current-hp="<%= current_user.current_mana %>" data-max-hp="<%= current_user.max_mana %>" class="radius progress"><span class="meter" style="width: <%= @mana_percent %>%"></span><div class="progress-data"><%= current_user.current_mana %> / <%= current_user.max_mana %></div></div>
          </div>
        </div>

        <div class="row">
          <div class="two columns">
            <p><strong>Stats</strong></p>
          </div>
          <div class="ten columns">
            <table class="twelve">
              <tbody>
                <tr>
                  <td class="five">STR</td>
                  <td class="six"><%= current_user.str %></td>
                </tr>
                <tr>
                  <td>VIT</td>
                  <td><%= current_user.vit %></td>
                </tr>
                <tr>
                  <td>DEX</td>
                  <td><%= current_user.dex %></td>
                </tr>
                <tr>
                  <td>INT</td>
                  <td><%= current_user.int %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      <% elsif !devise_controller? %>
        <h2>Sign in</h2>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div><%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true %></div>

          <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div><%= f.submit "Sign in" %></div>
        <% end %>

        <%= render "devise/shared/links" %>
      <% else %>
        <p><span style="font-size:1.5em">GO</span> <span style="font-size:1.3em">GO</span> <span style="font-size:1.1em">GO</span></p>
        <p>so that you can</p>
        <p><span style="font-size:1.5em">IDLE</span> <span style="font-size:1.3em">IDLE</span> <span style="font-size:1.1em">IDLE</span></p>
      <% end %>
    </div>
    <div class="eight columns">
      <%= yield %>
    </div>

  <% if user_signed_in? %>
    <script>
    window.user_signed_in = true;
    </script>
  <% end %>

  <!-- Included JS Files  -->
  <%= javascript_include_tag "application" %>
  
</body>
</html>