<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7 ]> <html class="ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8" />
	
	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->
	
	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	
	<title><%= content_for?(:title) ? yield(:title) : "tomgang" %></title>
  
	<!-- Included CSS Files -->
	<%= stylesheet_link_tag    "application" %>
	
	<!-- Included JS Files  -->
	<%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="fixed contain-to-grid">
    <nav class="top-bar">
      <ul>
        <li class="name"><h1><a href="/"><small>www.</small>tomgang<small>.mn</small></a></h1></li>
        <li class="toggle-topbar"><a href="#"></a></li>
      </ul>
      <section>
        <ul class="left">
          <li><a href="#">Link</a></li>
        </ul>

        <ul class="right">
          <li><a href="#">Link</a></li>
        </ul>
      </section>
    </nav>
  </div>

  <div class="row main">
    <% if flash[:notice] %>
      <div class="alert-box">
        <%= flash[:notice] %>
        <a href="" class="close">&times;</a>
      </div> 
    <% end %> 
    <% if flash[:alert] %>
      <div class="alert-box alert">
        <%= flash[:alert] %>
        <a href="" class="close">&times;</a>
      </div> 
    <% end %>

    <div class="four columns">
      <% if user_signed_in? %>
        <%= image_tag(current_user.gravatar_url) %>
        <%= link_to current_user.name, current_user %>
        <hr />
        <strong>Level <%= current_user.level %></strong><br/>
        <div class="radius progress success eight"><span class="meter" style="width: <%= @level_percent %>%"></span></div>
      <% elsif !devise_controller? %>
        <h2>Sign in</h2>

        <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
          <div><%= f.label :email %><br />
          <%= f.email_field :email, :autofocus => true %></div>

          <div><%= f.label :password %><br />
          <%= f.password_field :password %></div>

          <% if devise_mapping.rememberable? -%>
            <div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
          <% end -%>

          <div><%= f.submit "Sign in" %></div>
        <% end %>

        <%= render "devise/shared/links" %>
      <% else %>
        <p><span style="font-size:1.5em">GO</span> <span style="font-size:1.3em">GO</span> <span style="font-size:1.1em">GO</span></p>
        <p>so that you can</p>
        <p><span style="font-size:1.5em">IDLE</span> <span style="font-size:1.3em">IDLE</span> <span style="font-size:1.1em">IDLE</span></p>
      <% end %>
    </div>
    <div class="eight columns">
      <%= yield %>
    </div>
</body>
</html>